db:
    type: mariadb:10.6
    disk: 1500

cache:
    type: redis:7.2

session:
    type: redis:7.2

indexer:
    type: opensearch:2
    disk: 512
    configuration:
        plugins:
            - analysis-phonetic
            - analysis-icu
queue:
    type: rabbitmq:3.13
    disk: 1024
